* {
    margin: 0;
}
#home {
    height: 600px;
    width: 100%;
    background-image: url("../img/home-picture.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size: 100%;
    
}
#logo{
    margin-top: 100px;
    margin-left: 70px;
    width: 100px;
}
#my-photo1{
    display:flex;
    justify-content:center;
}
#my_photo{
    width: 500px;
}
h1{
    color: #ffffff;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 42px;
    font-family: Helvetica, sans-serif;
    padding-top: 50px;
}
#home_words{
    color: #ffffff;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 24px;
    font-family: Helvetica, sans-serif;
}
#home_bottoms{
    display:flex;
    justify-content:space-around;
    margin-left:300px;
    margin-right:300px;
}
#home_bottom1{
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    font-family: Helvetica, sans-serif;
    border: 2px solid white;
    padding: 5px 30px;
    border-radius: 15px;
}
#home_bottom1 a{
    text-decoration: none;
    color: #fff;
}
#home_bottom1:hover,
#home_bottom1:active {
  background-color: #929292;
}
#home_bottom2{
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    font-family: Helvetica, sans-serif;
    border: 2px solid white;
    padding: 5px 30px;
    border-radius: 15px;
}
#home_bottom2 a{
    text-decoration: none;
    color: #fff;
}
#home_bottom2:hover,
#home_bottom2:active {
  background-color: #929292;
}
#name_nav{
    color: #444444;
    font-size: 20px;
    margin: 0 0 0 0;
    
    margin-left: 20px;
    margin-top: 20px;
}

#menu{
    text-decoration: none;
    text-align: right;
    list-style-type: none;
    font-size: 20px;
}
#menu li{
    display: inline; 
}
#menu a{
    text-decoration: none;
    display: inline-block;
    margin-top: 23px;
    margin-right: 40px;
    color: #444444;
}
#menu a:hover{
    color: #629c44;
}
nav{
    position: fixed;
    top: 0;
    margin: 0 auto;
    background-color: #ebebeb;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 1300px;
    z-index: 1;
}
.hr{
    display: flex;
    justify-content:center;
}
.vertic{
    display:flex;
    justify-content:center;
    margin-bottom: 25px;
}
.vertical{
    background-color: #aaaaaa;
    width: 1px;
    height: 50px;
}
hr{
    background-color: #629c44;
    width: 190px;
    height: 2px;
    display:flex;
    justify-content:center;
}
h2{
    color:#232323;
    text-align: center;
}
.about_me{
    color: #444444;
    text-align: center;
}
.education{
    color: #4c7a34;
    position: relative;
    left: 230px;
    bottom: 80px;
    width: 350px;
}
.education2{
    color: #444444;
    position: relative;
    left: 230px;
    bottom: 80px;
    width: 350px;
}
.education3{
    color: #444444;
    position: relative;
    left: 715px;
    bottom: 80px;
    width: 350px;
}
.education4{
    color: #4c7a34;
    position: relative;
    left: 715px;
    bottom: 80px;
    width: 350px;
}
p{
    color: #444444;
}
.circle1{
    display:flex;
    justify-content:center;
}
.circle{
    width: 100px;
    height: 100px;
    background: inherit;
    border: 2px solid #4c7a34;
    line-height: 100px;
    font-size: 18px;
    color: #444444;
    text-align:center;
    border-radius: 150px;
}
.portfolio{
    width: 200px;
    height: 220px;
    position: relative;
    left: 15%;
    top: 40%;
    margin: 10px;
}
#contact_nav{
    color: white;
    height: 700px;
    max-width: 1300px;
    background-image: url("../img/contact.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
}
#contact_me{
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 30px;
}
#contact_leave_data{
    display: flex;
    justify-content:center;
    color: white;
    font-size: 18px;
    padding-bottom: 50px;
}
#contact_leave_message{
    color: white;
    display: flex;
    justify-content:center;
    font-size: 26px;
    padding-top: 40px;
    padding-bottom: 40px;
}
#icons_footer{
    height:35px;
    display:flex;
    justify-content:space-between;
    margin-left: 400px;
    margin-right: 400px;
}
.icon{
    width: 35px;
}
footer{
    height: 40px;
    max-width: 1300px;
    background-color: #ebebeb;
}
#footer2{
    color: #444444;
    text-align: right;
    padding-top: 10px;
    padding-right: 15px;
}
#icons_contact{
    height: 35px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
}
#map,#email,#phone{
    width: 35px;
}
#address{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
}
#map1,#email1,#phone1{
    color: white;
}
.form_name{
   display:flex;
   justify-content: center;
}
#form1{
    margin-right:5px;
}
#form2{
    margin-right:5px;
    margin-left:40px;
}
#comment{
    top: 11px;
    display:flex;
    justify-content: center;
    margin-bottom: 5px;
}
#submit{
  
  width: 170px;
  margin: 8px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  background-color: inherit;
}
#submit:hover,
#submit:active {
  background-color: #fff;
  color: #000;
}
#submit1{
  display: flex;
  justify-content: center;
}

