body{
    max-width:1300px;
    margin: 0 auto;
}
@media screen and (max-width: 720px) {
    home{
        height: 100px;
    }
    h1 {
        font-size: 15px;
    }

    #home_words{
        font-size: 8px;
    }
    #logo{
        width: 50px;
    }
    
}
@media screen and (max-width: 450px) {
   
}